<div class="container">
  <h1>All Offers: <%= @offers.size%></h1>


  <table class="table">
    <thead>
      <tr>
        <th>Country</th>
        <th>City</th>
        <th>Region</th>
        <th>Price</th>
        <th>Airport</th>
        <th>Departure</th>
        <th>Return</th>
        <th>Rating</th>
        <th>Reviews</th>
        <th>Standard</th>
        <th>Type</th>
        <th>Link</th>
      </tr>
    </thead>
    <tbody>
      <% @offers.each do |offer| %>
        <tr>
          <td><%= offer[:country] %></td>
          <td><%= offer[:city] %></td>
          <td><%= offer[:region] %></td>
          <td><%= number_to_currency(offer[:price].to_i, unit: "zł") %></td>
          <td><%= offer[:airport] %></td>
          <td><%= offer[:departure] %></td>
          <td><%= offer[:return] %></td>
          <td><%= offer[:trip_advisor_rating] %></td>
          <td><%= offer[:trip_advisor_reviews] %></td>
          <td><%= '★'*offer[:standard] %><%= '☆'*(5-offer[:standard]) %></td>
          <td><%= offer[:type] %></td>
          <td><%= link_to "View", offer[:url], target: "_blank" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>
